<div class="row  height_footer no_pad_no_marg">
	<div class="col-sm-offset-1 col-sm-2 height_100pc textcenter">
		<a href="{{ path('upload_news') }}">
			<img  src={{  asset("welcom_foot_tr.png") }} class="footer_logo_size footer_padding_img"> 
		</a>
	</div>
	<div class="col-sm-4 footer_padding_text textcenter">
		<footer_text_style >The only student association dedicated to <b>you</b>,
			 international students of Télécom Business School and Télécom SudParis.
		</footer_text_style>
	</div>
	<div class="col-sm-2 footer_padding_text textcenter">
		<footer_text_style class="textcenter ">9 rue Charles Fourier,<br> 91000 Evry</footer_text_style>
	</div>
	<div class="col-sm-2 footer_padding_text_center_vert textcenter">
		<footer_text_style style="color:#eaeaea;" class=" ">
			contact@welcom-evry.com
		</footer_text_style>
	</div>	
</div>