<div class="row  height_100 width_100_pc light_z_index  back_gr">
    	<div class= "col-sm-12 backgr_style height_100pc ">
    		<img src={{  asset("banner_welcom.png") }} id="logo_scroll_fix" class="width_98 logo_centred_vert_mob "/>
    	</div>		
</div>

<script>
    var scroll_fix_param=
    { 
    		length_to_fix_scroll: 700,//number of pixels to scroll before stopping 
    		id_logo_fix: "#logo_scroll_fix",//the selector for the logo
    		class_scroll_fix: "logo_centred_vert_fix"// the name of the class that pulls the logo from the html flux
    };
</script>