<div class="position_fixed null_pos  light_z_index" 	>
    <img src={{  asset(""~img.imagename) }} class="max_h_w light_z_index back_id_"/>
</div> 
    	   
<div class="position_absolute normal_z_index main_content_backgr" style="top:21px;left:0;">
	<style_credit> 
    	Credit: {{ img.credit }}
    </style_credit>
</div>  
