{% extends 'DRNewsBundle::base.html.twig' %}


{% block main %}
     <br> <br> 
     <div style="color:black;">
         <h1 style="display: inline;">Basic principle:</h1>
         <br> 
         <br> 
          A set of news is what's displayed on each and every page of the site.
          <br> Note: there are normal news, diasplayed on the whole page and there are "up-to-three news in three columns"
          kind of news known as <style_red_medium>"tri-news" </style_red_medium> (despite the name, if can 
          also contain just one or two). 
          Here's an example of a tri-news:
          <div style="margin-left:20px;"> 
                  	<img src="tuto_img_2.png">
         </div>
         They are actually just three different News with different id's and title, flagged as 
        <style_red_medium>partoftrinews</style_red_medium> and <b>having the same 
         <style_red_medium>"ordernumber"</style_red_medium></b>.
         
         <br>
         
         <h3>Category</h3>         
		The category of each news is <b>what determines on which page will a news be displayed.</b>
         <div style="margin-left:20px;">
             <br>-The current categories of the site are:
             <div style="margin-left:20px;">
             	    --> "home" => Homepage
             	<br>--> "campus" => Campus
             	<br>--> "housing" => Housing
             	<br>--> "LIF" => Life in France
             	<br>--> "help" => Help
             </div>
             <small>(<b>Note:</b> creating a new category's name is not enough for a new page with this category to appear, 
             someone (who has access to the ftp)has to manually add a Controller ( a XXXController.php in src/DR/NewsBundle/Controller ) and 
             a view ( a XXX.html.twig in src/DR/NewsBundle/Resources/views/_name_of_the_category_) referenced by
             the controller, and finally add an access button in base.html.twig )</small>
             <br>
             <br>-Each category name can (and has to) be preponed by <b>"main_"</b> in order to appear in the dynamic newsbar on the main page.
             
             If it is the case, the image atached to the news will be used for the background (it has to be quite big in number
             of pixels) no matter which option has been ticked regarding Imgbftitle,Imgaftitle,Imgafcont. The internal name of the page's route,
             (not necessarily the same unique part found in the URL) has to be provided in the <b>LinkNews</b> field (it's the Read More link).
         	 <br><b>Example</b>:
             	<div style="margin-left:20px;">category: 'main_campus', linknews: 'campus' </div>
         </div>
         
         <h3>Ordernumber</h3>
         <b>Inside a category, the news are sorted by ascending ordernumber </b> 
         The default news have been entered with an ordernumber incremented by 10 each an every time, this should give
         you all the space you need to insert news in between.
         <div style="margin-left:20px;">
             <b>Note:</b> To insert a news ('C') between two other news('A' and 'B'), you just have to make sure that
             the ordernumber of C is between those of A and B
            
         </div>
         
         <h3>Title</h3>
         Each news mush have a title, but you can <b>untick "Printtitle" </b>
         if you don't want it to appear.
         
         <h3>Content</h3>
         Each news can have a content, but you can just <b>leave it blank</b> 
         or <b>untick "Printcontent"</b> if you don't want it to appear.   
            
         <h3>Image</h3>
         Each news can have images attached to it, there are two types of images:
          <div style="margin-left:20px;"> 
          	a)Only <b>ONE single image</b> can be displayed in a centered fashion above the title (imgbftitle),
          	between the title and the content (imgaftitle), or after the content (imgafcontent) if the proper option is
          	ticked. 
			<div style="margin-left:20px;">
				<div style="margin-left:20px;">
    				<b>Note:</b> The trick is that if you want to display more than one image per news this fashion
                  	simply divide your news in "fragments" with contiguous ordernumber, link them each to an image,
                  	 and un-tick "printtile" so that it doesn't show 
				</div>
				<b>Example</b> (here before title):<br>
				<div style="margin-left:20px;"> 
                  	<img src="tuto_img_1.png">
                  	<br><b>Note:</b> it works better if the image is of a wallpaper size in term of pixels, as it covers the whole screen's
                  	width.
              	</div>
              	
          	</div>
          	b) <b>As many images as you wish can be added inside the content block</b> using the 8th icon from the right of
          	the middle column. A lot of parameters are available for you to tailor how and where it will be. Note that 
          	you'll have to upload the image online to an image hosting service first.																															
         	<br><b>Note:</b> Those two types of images are also available for the "three news on a row" configuration,
         	<b>Example</b>:
         	<div style="margin-left:20px;"> 
                  	<img src="tuto_img_2.png">
         	</div>
         	<b>Note:</b> This way if you want to insert an image in the flow of news,
          just create a news with a recognizeable title (even though it wont appear),
          an image, any of the three option for the image's location,a blank content
           and hide it's title by un-ticking printtitle.
            <div style="margin-left:20px;">
             	<style_red_medium> Attention:</style_red_medium> This will probably look really weirdly with tri-news,
             	 right now they are handled too differently for it to look nice
             </div>
         </div>
         <br> 
     </div>

    	<h1>ATTENTION:</h1> <h2>There will be no secondary prompt once you click a Delete button</h2>
    	<h1>ATTENTION:</h1> <h2>If you delete the news, the image's link will be updated, but the image will live on
    	as a standalone, if you want to easily delete a linked image go <a class="btn btn-warning" href="{{ path('delete_img') }}">here</a>
    	 and sort by linked news then delete it</h2>
    	 
    	 
    	 
 
{% endblock %}

